**/.ipynb_checkpoints/

/data/

/test/

__pycache__/
*.py[cod]
*.pyd
*.so
*.dylib

*.pyc
*.pyo
*.pyd
.eggs/
*.egg-info/
dist/
build/
htmlcov/
.coverage
*.cover

.venv/
venv/
env/
ENV/
.pipenv/
.poetry/
.pyenv/
pip-wheel-metadata/

*.log
*.out
*.bak
*.tmp